<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 퍼미션 통합 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SixSense"
        tools:targetApi="31">

        <!-- Google 지도 API 키 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqP0wLEGC2hIFQDHiTRQ2Oetkuqnqdvrk" />

        <!-- 런처 액티비티: SignIn 기준 유지 -->
        <activity
            android:name=".SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 기타 액티비티 통합 -->
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".MapsActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SaleInfo" android:exported="false" />
        <activity android:name=".SaleWriteActivity" android:exported="false" />
        <activity android:name=".SaleMain" android:exported="false" />
        <activity android:name=".MapSelectActivity" android:exported="false" />
        <activity android:name=".PartyListActivity" android:exported="false" />
        <activity android:name=".CreateParty" android:exported="false" />
        <activity android:name=".PartyDetailActivity" android:exported="false" />

    </application>

</manifest>

